/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 100%;
  font-family: arial, sans-serif;
  color: #000000;
  background-color: #f3f3f5;
}
body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
body.tnptool-overlay::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
}

a {
  color: #c30019;
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  position: relative;
  height: 180px;
  line-height: 180px;
  text-align: center;
  background-color: #c30019;
}
header h1 {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 1.25rem;
}

.tnptool-sites-sections p {
	padding: 15px;
	font-size: 13px;
    line-height: 1.4;
    color: #6c7d8e;

    b {
    	font-weight: bold;
    }
}

.lightbox-open {


	h3 {
		font-size: 22px;
	    line-height: 1.8;
	    color: #6c7d8e;
	    font-weight: bold;
	}

	p {
		font-size: 13px;
	    line-height: 1.4;
	    color: #6c7d8e;
	}
}

@media only screen and (min-width: 1024px) {
  header {
    height: 240px;
    line-height: 240px;
  }
  header h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
  }
}

h2 {
	text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    color: #bbbbc7;
    margin-bottom: 10px;
}

.tnptool-sites {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
}
.tnptool-sites:after {
  content: "";
  display: table;
  clear: both;
}
.tnptool-intro {
	margin-bottom: 60px;
	background: #ffffff;
	padding: 25px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);

	p {
		font-size: 0.875rem;
		line-height: 1.4;
		color: #6c7d8e;
		margin-bottom: 10px;
	}
}
@media only screen and (min-width: 768px) {
  .tnptool-sites {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.tnptool-sites-sections a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}
.tnptool-sites-sections a::before, .tnptool-sites-sections a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.tnptool-sites-sections a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.tnptool-sites-sections li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .tnptool-sites-sections {
    width: 20%;
    float: left;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  .tnptool-sites-sections a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .tnptool-sites-sections a::after {
    display: none;
  }
  .no-touch .tnptool-sites-sections a:hover {
    background: #555b61;
  }
  .no-js .tnptool-sites-sections {
    width: 100%;
    margin-bottom: 2em;
  }
}


.tnptool-sites-sections a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: #c30019;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.tnptool-sites-sections a.not_ready_group::before {
background-color: #c30019;
}

.tnptool-sites-sections a.in_development_group::before {
	background-color: #E0D513;
}

.tnptool-sites-sections a.ready_to_build_group::before {
	background-color: #39A500;
}


@media only screen and (min-width: 1024px) {
  .tnptool-sites-sections {
    position: relative;
    top: 94px;
    left: 0;
    width: 200px;
    z-index: 2;
  }

  .tnptool-sites-sections .selected {
    background: #333333 !important;
  }
  .tnptool-sites-sections .selected::before {
    opacity: 1;
  }
  .tnptool-sites-sections.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }
  .no-js .tnptool-sites-sections {
    position: relative;
  }
}

.tnptool-sites-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.toggle-summary {
	text-align: center;
	cursor: pointer;

	> div {
		display: inline-block;
		padding: 10px 15px;
		border-radius: 50px;
		background: #bbbbc7;
		font-size: 14px;
		font-weight: bold;
		color: #ffffff;
		margin: 0 5px;

		&.current {
			background: #333333;
		}
	}
}

.tnptool-sites-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .tnptool-sites-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .tnptool-sites-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}
@media only screen and (min-width: 1024px) {
  .tnptool-sites-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .tnptool-sites-items {
    padding-left: 0;
  }
}

.tnptool-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.tnptool-close-panel::before, .tnptool-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.tnptool-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tnptool-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tnptool-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .tnptool-close-panel {
    display: none;
  }
}

.tnptool-sites-group {
  /* hide group not selected */
  display: none;
}
.tnptool-sites-group.selected {
  display: block;
}
.tnptool-sites-group .tnptool-sites-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .tnptool-sites-group .tnptool-sites-title:hover {
  box-shadow: none;
}
.tnptool-sites-group .tnptool-sites-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #bbbbc7;
}
.no-js .tnptool-sites-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .tnptool-sites-group {
    /* all groups visible */
    display: block;
  }
  .tnptool-sites-group > li {
    background: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .no-touch .tnptool-sites-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }
  .tnptool-sites-group .tnptool-sites-title {
    margin: 2em 0 1em;
  }
  .tnptool-sites-group:first-child .tnptool-sites-title {
    margin-top: 0;
  }
}

.tnptool-sites-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .tnptool-sites-trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 15px 75px 15px 15px;
  }
  .tnptool-sites-trigger::before, .tnptool-sites-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #c30019;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .tnptool-sites-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .tnptool-sites-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .tnptool-sites-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .tnptool-sites-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.tnptool-sites-previewtext {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 10px;
  color: #6c7d8e;
  padding: 0 15px;
  overflow: hidden;
  max-height: 50px;
  position: relative;
  cursor: pointer;

  &:after {
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 100%;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(83%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	top: 0;
	left: 0;
  }
}

.yesorno {
	font-weight: bold;
}

.featherlight-image, .featherlight-content {
	cursor: zoom-out!important;
}

.tnptool-sites-content > p, .tnptool-sites-content > div {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 10px;
  color: #6c7d8e;

  b {
  	font-weight: bold;
  	display: block;
  }

  img {
  	cursor: zoom-in;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  .gallery-image {
	width: 24%;
	margin-right: calc(1% - 4px);
    display: inline-block;
	cursor: pointer;
	margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .tnptool-sites-content {
    display: none;
    padding: 0 24px 30px;
  }
  .tnptool-sites-content p {
    line-height: 1.6;
  }
  .no-js .tnptool-sites-content {
    display: block;
  }
}

.summary-headline {
	display: none;
}

.not_ready {
	border-left: 5px solid #C30019;
}

.not_ready_text {
	color: #C30019;
}

.in_development {
	border-left: 5px solid #E0D513;
}

.in_development_text {
	color: #E0D513;
}

.ready_to_build {
	border-left: 5px solid #39A500;
}

.ready_to_build_text {
	color: #39A500;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight {
		display: none;

		/* dimensions: spanning the background from edge to edge */
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 2147483647; /* z-index needs to be >= elements on the site. */

		/* position: centering content */
		text-align: center;

		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		/* styling */
		cursor: pointer;
		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: rgba(0, 0, 0, 0);
	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}

	.featherlight:before {
		/* position: trick to center content vertically */
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		/* position: centering vertical and horizontal */
		text-align: left;
		vertical-align: middle;
		display: inline-block;

		/* dimensions: cut off images */
		overflow: auto;
		padding: 25px 25px 0;
		border-bottom: 25px solid transparent;

		/* dimensions: handling small or empty content */
		min-width:  30%;

		/* dimensions: handling large content */
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;

		/* styling */
		background: #fff;
		cursor: auto;

		/* reset white-space wrapping */
		white-space: normal;
	}

	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block;
	}

	.featherlight .featherlight-close-icon {
		/* position: centering vertical and horizontal */
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;

		/* dimensions: 25px x 25px */
		line-height: 25px;
		width: 25px;

		/* styling */
		cursor: pointer;
		text-align: center;
		font-family: Arial, sans-serif;
		background: #fff; /* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, 0.3);
		color: #000;
	}


	.featherlight .featherlight-image {
		/* styling */
		width: 100%;
	}


	.featherlight-iframe .featherlight-content {
		/* removed the border for image croping since iframe is edge to edge */
		border-bottom: 0;
		padding: 0;
	}

	.featherlight iframe {
		/* styling */
		border: none;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 10px;
		margin-right: 10px;
		max-height: 98%;

		padding: 10px 10px 0;
		border-bottom: 10px solid transparent;
	}
}

.tnptool-sites-sections {
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.tnptool-sites-sections a::after {
	display: none;
}

@media all and (max-width: 768px) {
	.toggle-summary, .tnptool-sites-previewtext {
		display: none!important;
	}

	.tnptool-sites-trigger {
		padding: 10px;
    	background: #f7f7f7;
	}

	.tnptool-sites-content {
		padding: 10px;
		display: none;
	}
}