@import "normalize";
@import "grid";

/* Style */

body {

	background-color: #fff;
	font-size: 14px;

	a {

		text-decoration: none;

	}

}

h1 {

	font-size: 23px;
	font-weight: bold;

}

h2 {

	font-size: 18px;
	font-weight: bold;

}

h6 {

	font-size: 14px;
	font-weight: bold;

}

.clear {
	clear: both;
}

header {

	background: #ffffff url('../images/divider_strong.png') repeat-x center bottom;
	padding: 30px 0;
	margin-bottom: 30px;

	.logo {

		margin: 0 auto;
		display: block;
		width: 90px;

	}

}

footer {

	background-color: #c30019;
	padding: 15px;

	span {

		color: #fff;
  		font-size: 11px;

	}

	a {

		color: #fff;

	}

}

.uppercase {

	text-transform: uppercase;

}

section.site-summary, section.site-field {

	background-color: #ddd;
	margin-bottom: 30px;
	padding: 30px;

}

section.site-summary {

	h1 {

		margin-bottom: 30px;

	}

	.field {

		background-color: #fff;
		padding: 15px;
		margin-bottom: 7.5px;
		margin-right: 30px;

		span {

			text-align: right;

		}

		h1 {
			margin-bottom: 0px;
		}

	}

	 .site-status {

	 	h6 {

	 		margin-bottom: 7.5px;

	 	}

	 	a {
	 		display: block;
	 		width: 28px;
	 		height: 28px;
	 		float: left;
	 		margin-right: 4px;
	 		margin-bottom: 4px;
	 	}

	 	a.not-ready {

	 		background-color: #c30019;

	 	}

	 	a.in-development {

	 		background-color: #ffd200;

	 	}

	 	a.ready-to-build {

	 		background-color: #2e8c00;

	 	}

	 	.status-explanation {

	 		.not-ready-explanation {

	 			border-left: 46px #c30019 solid;

	 		}

	 		.in-development-explanation {

	 			border-left: 46px #ffd200 solid;

	 		}

	 		.ready-to-build-explanation {

	 			border-left: 46px #2e8c00 solid;

	 		}

	 		h6 {

	 			margin-bottom: 0px;

	 		}

	 	}


	 }

}

section.site-field {

	h1 {

		margin-bottom: 30px;
		margin-top: 30px;

	}

	h1:first-child {

		margin-top: 0px;

	}

	.field {

		background-color: #fff;
		padding: 30px;
		margin-bottom: 15px;
		position: relative;

		.toggle {
			float: right;
			cursor: pointer;
			transition: 0.3s all;

			svg {

				g {
					transition: fill 0.3s ease;
					fill: #808080;
				}
				
			}

				&:hover {

					svg {

						g {
							fill: lighten(#808080, 20%);
							transition: fill 0.3s ease;
						}

					}

				}

				&.active {
					transition: 0.3s all;
					transform: rotate(-180deg);
  					-moz-transform: rotate(-180deg);
  					-webkit-transform: rotate(-180deg);
				}

		}

		h2 {

			margin-bottom: 15px;

		}

		.info-row {

			display: none;

			h6 {

				color: #808080;
				margin-bottom: 7.5px;

			}

			.gallery {

				margin-bottom: 15px;

			}

			ul {

				padding: 0;
				margin: 0;

				li {

					display: inline;

				}
			}

		}

	}

	.ready-to-build {

		border-left: 5px #2e8c00 solid;

	}

	.in-development {

		border-left: 5px #ffd200 solid;

	}

	.not-ready {

		border-left: 5px #c30019 solid;

	}

}

@media only screen and (max-width: 1024px) { 

	h1 {

		font-size: 23px;
	}

	h2 {

		font-size: 18px;
	}

	section.site-summary {

		.field {

			margin-right: 0;

			.half {

				width: 50%;	

			}

		}

		.half {

			width: 100%;

		}

	}

	section.site-field {

		.sixth, .fifth, .fourth {
			
			width: 100%;
			margin-bottom: 15px;

		}

	}

}

@media only screen and (max-width: 500px) { 

	section.site-field {

		img {

			width: 100%;
			
		}

	}

}