.container {
	width: 88%;
	max-width: 960px; 
	margin: 0 auto;

	@media only screen and (min-width: 0) {
		padding: 0;
	}

	@media only screen and (min-width: 500px) {
		padding: 0 1.25rem;
	}
 
	&.narrow { 
		max-width: 1100px;
	}
}

.piece {
	padding: 0 0 5px 0;
}

.full {
	width: 100%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	padding-top: 30px;
}

.half {
	width: 50%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.two-thirds {
	width: 66%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.third {
	width: 33%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.fourth {
	width: 25%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.fifth {
	width: 20%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.sixth {
	width: 16.66%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}